{% extends 'base.html.twig' %}

{% block title %}Mon compte - CoreFit{% endblock %}

{% block content %}
<header id="fh5co-header" class="fh5co-cover" style="background-image:url({{asset('assets/images/header.jpg')}})" role="banner" data-stellar-background-ratio="0.5">
</header>

<div id="fh5co-services" class="fh5co-bg-section">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-3 text-center animate-box">
					<div class="services">
						<span><i class="fas fa-lock"></i></span>
						<h3>Modifier mot de passe</h3>
						<p><a href="{{path('account_password')}}" class="btn btn-primary btn-outline btn-sm">Modifier</a></p>
					</div>
				</div>
				<div class="col-md-3 text-center animate-box">
					<div class="services">
						<span><i class="fas fa-lock"></i></span>
						<h3>MES ADRESSES</h3>
						<p><a href="{{path('account_adress')}}" class="btn btn-primary btn-outline btn-sm">Modifier</a></p>
					</div>
				</div>
				<div class="col-md-3 text-center animate-box">
					<div class="services">
						<span><i class="fas fa-heartbeat"></i></span>
						<h3>Mon corps</h3>
						<p><a href="{{path('account_body')}}" class="btn btn-primary btn-outline btn-sm">Voir ou modifier</a></p>
					</div>
				</div>
				<div class="col-md-3 text-center animate-box">
					<div class="services">
						<span><i class="fas fa-dumbbell"></i></span>
						<h3>Mes programmes</h3>
						<p><a href="#" class="btn btn-primary btn-outline btn-sm">Voir</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
