{% extends 'base.html.twig' %}

{% block title %}Ajouter Informations personelles - CoreFit{% endblock %}

{% block content %}
<h1 class="text-center">Ajouter mes informations personelles</h1>
<a class="link-account" href="{{ path('account_body') }}">Retourner à mon compte</a>
    <hr>
    <div class="form-change">
        {{form(form)}}
    </div>

{% endblock %}
