{% extends 'base.html.twig' %}

{% block title %}Modifier mot de passe - CoreFit{% endblock %}

{% block content %}
    <h1 class="text-center title-mdp">Modifier mon mot de passe</h1>

    <div class="form-change">
    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
    {% endif %}
        {{form(form)}}
    </div>
{% endblock %}
