{% extends 'base.html.twig' %}

{% block title %}S'inscrire - CoreFit{% endblock %}

{% block content %}
    <h1 class="text-center mt-5">Pour vous inscrire veuillez-remplir le formulaire ci-dessous</h1>
    <div class="form-change">
        {{form(form)}}
    </div>
{% endblock %}
